.gitattributes  text diff=astextplain eol=crlf
.gitignore      text diff=astextplain eol=crlf
.editorconfig   text diff=astextplain eol=crlf
.lgtm.yml       text diff=astextplain eol=crlf
CMakeLists.txt  text diff=astextplain eol=crlf
*.cmake         text diff=astextplain eol=crlf
*.md            text diff=markdown    eol=crlf
*.c             text diff=cpp         eol=crlf
*.cpp           text diff=cpp         eol=crlf
*.h             text diff=cpp         eol=crlf
